<script type="module" src="/components/AddNewRuleButton.js"></script>
<link rel="stylesheet" type="text/css" href="/styles/index.css">

<a id="about-btn" href="/about">About</a>

<div id="title-container">
  <h1 id="title">
    ๐ชน Community Nest ๐ชน
  </h1>
  <h4 id="subtitle">
    a collection of archives from one part of twitter
  </h4>
</div>

