/* 
https://colorhunt.co/palette/fefaf6eadbc8dac0a3102c57
*/
:root {
  --color-bg: #FEFAF6;
  --color-primary: #7d4533;
  --color-muted: #b97028;
}

@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("/fonts/HKGrotesk-Bold.otf")
    format("opentype");
}

html {
  font-family: HK Grotesk;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-primary);
  background: var(--color-bg);
  font-size: 18px;
}

.content {
    margin:auto;
    max-width: 700px;
    padding: 30px;
}

@media only screen and (max-width : 900px) {
    .content {
      padding: 0px;
    }
}

.muted-text {
  color: var(--color-muted);
}

a {
  color: var(--color-muted);
}

/* rule styles */
.rules-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rule-item {
  margin: 10px;
  padding: 10px;
  word-wrap: break-word;
  width: 400px;
  position: relative;
  height: 100%;
}

.rule-title {
  font-size: 30px;
}

.rule-body {
  font-size: 18px;
}

.rule-button {
  cursor: pointer;
  position: absolute;
  border-radius: 25px;
  border: 2px solid #b39e5047;
  padding: 3px;
}

.rule-body-edit {
  display: none;
  width:  100%;
  height: calc(100% - 80px);
  margin-top: 40px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 18px;
  font-family: HK Grotesk;
  min-height: 400px;
}

.rule-edit-log {
  display: none;
}

.three-dots {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.three-dots span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-muted);
  display: inline-block;
  margin: 0 15px;
}

.highlighted-span {
    background: #fff1be;
    padding: 5px;
    border-radius: 5px;
}

.highlighted-code {
    white-space: pre-wrap;
    word-break: break-all;
    background: #5f5328;
    padding: 10px;
    border-radius: 5px;
    color: var(--color-bg);
}